<% content_for :css do %>
  <%= stylesheet_link_tag 'article' %>
<% end %>
<div class="showArticle p-3" id="app">
    <% if owner_of_article?(@article.id) %>
      <button onclick="location.href='<%= edit_article_path(@article.id) %>'" class="btn d-inline edit-button"> 編集</button>
    <% end %>
    <h1 class="articleTitle"><%= @article.title %></h1>
    <div class="tags">
        <% @tags.each do |tag| %>
            <div class="tag">
                <%= tag.name %>
            </div>
        <% end %>
    </div>
    <div class="mdResult" v-html="convertMarkdown"></div>
</div>
<% if owner_of_article?(@article.id) %>
  <form method = "delete" action=<%= "/articles/"+ @article.id.to_s %>>
    <input type="submit" value ="削除" class = "btn d-inline delete-button">
  </form>
<% end %>
<script>
  new Vue({
    el:'#app',
    computed:{
      convertMarkdown:function(){
        var content = <%== JSON.dump(@article.body) %>;
        console.log(content);
        return marked(content);
      }
    }
  });
</script>