<% content_for :css do %>
  <%= stylesheet_link_tag 'article' %>
<% end %>
<div class="showArticle p-3" id="app">
  <div class="form-inline admin-article">
    <% if owner_of_article?(@article.id) %>
      <button class="btn" id="button_for_display" onclick="display_form()"><b>＋</b>新規リストを追加</button>
      <form action="/users/<%= @article.user_id %>/articles" method="post" class="select-list-form">
        <input type="hidden" name="article_id" value = <%= @article.id %> />
        <select class="form-control select-lists d-inline" id="select-lists" name="selected_list">
          <option disabled value="">リストを選択</option>
          <% @lists.each do |list|%>
            <option value="<%= list.id %>"><%= list.name %></option>
          <% end %>
        </select>
        <input type="submit" class="btn" value="追加" id="select-lists-button" />
      </form>
      <button onclick="location.href='<%= edit_article_path(@article.id) %>'" class="btn d-inline edit-button"> 編集</button>
    <% end %>
  </div>
  <h1 class="articleTitle"><%= @article.title %></h1>
  <div class="tags">
    <% @tags.each do |tag| %>
      <div class="tag">
        <%= tag.name %>
      </div>
    <% end %>
  </div>
  <div class="mdResult" v-html="convertMarkdown"></div>
</div>
<% if owner_of_article?(@article.id) %>
  <div class="container-for-btn">
    <form method = "post" action=<%= "/articles/"+ @article.id.to_s + "" %> onSubmit="return confirmDeletion()">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value ="削除" class = "btn d-inline delete-button">
    </form>
  </div>
<% end %>
<script>
  new Vue({
    el:'#app',
    computed:{
      convertMarkdown:function(){
        var content = <%== JSON.dump(@article.body) %>;
        console.log(content);
        return marked(content);
      }
    }
  });

  function confirmDeletion(){
    if(window.confirm('この記事を削除しますか？')){
      return true;
    }
    else{
      return false;
    }
  }

  function hide_form(){
    document.getElementById("select-lists").style.display="none";
    document.getElementById("select-lists-button").style.display="none";
  }
  function display_form(){
    document.getElementById("select-lists").style.display="inline";
    document.getElementById("select-lists-button").style.display="inline";
    document.getElementById("button_for_display").style.display="none";
  }
  window.onload = hide_form;
</script>