<% content_for :css do %>
  <%= stylesheet_link_tag 'lists' %>
<% end %>

<div class="titleAndSeries" id="app">
      <div class="titleOfSeries">リスト一覧</div>
      <div class="showLists">
        <% if logged_in? && owner_of_list?(params[:id]) %>
    
      <button class="btn" id="button_for_display" onclick="display_form()">新規リストを追加</button>
      <div class = "new_list_form">
      <%= form_for(@new_list) do |f| %>
        <%= f.text_field :name, class: 'form-control' , placeholder: 'リスト名を入力', id: 'new_list_name' %>

        <%= f.hidden_field :is_placed, :value =>  true %>
        <%= f.hidden_field :user_id, :value =>  params[:id] %>
        <%= f.submit "保存", class: "btn" ,id: 'new_list_submit' %>
      <% end %>
      </div>
    <% end %>
          <% @lists.each do |list| %>
              <div class="list" >
                  <div class="listTitle"><%= list.name %></div>
              </div>
          <% end %>
      </div>
  </div>

<script>
  function hide_form(){
    document.getElementById("new_list_name").style.display="none";
    document.getElementById("new_list_submit").style.display="none";
  }
  function display_form(){
    document.getElementById("new_list_name").style.display="inline";
    document.getElementById("new_list_submit").style.display="inline";
    document.getElementById("button_for_display").style.display="none";
  }
  window.onload = hide_form;
</script>